<div [@routerTransition]>
    <div class="row">
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div style="text-align: center" class="card-header">
                    Toernooien
                </div>
                <div class="card-body">
                    <div class="container">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Datum</th>
                                <th>Status</th>
                                <th>Bekijken</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>New year celebration</td>
                                <td>01-11-2018</td>
                                <td>Aankomende</td>
                                <td><button>Bekijk</button></td>
                            </tr>
                            <tr>
                                <td>Kings Day</td>
                                <td>01-11-2018</td>
                                <td>Active</td>
                                <td><button>Bekjik</button></td>
                            </tr>

                            <tr>
                                <td>Boris is jarig</td>
                                <td>01-11-2018</td>
                                <td>Geweest</td>
                                <td><button>Bekijk</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
