    <div [@routerTransition]>
        <!--<h2 align="center">Dashboard</h2>-->
        <div class="row">
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="container">
                            <button>Toornoeiopties Kiezen</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="container">
                            <button>Teams samenstellen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="container">
                            <button >Deelnemers invoeren</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="container">
                            <button >Uitnodiging sturen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

