<div [@routerTransition]>
    <div class="row">
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div style="text-align: center" class="card-header">
                   Gebruikers
                </div>
                <div class="card-body">
                    <div class="container">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Datum</th>
                                <th>Email</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>John</td>
                                <td>01-11-2018</td>
                                <td>Info@hsleiden.nl</td>
                                <td><button>Ban</button></td>
                            </tr>
                            <tr>
                                <td>Mary</td>
                                <td>01-11-2018</td>
                                <td>Info@hsleiden.nl</td>
                                <td><button>Ban</button></td>
                            </tr>
                            <tr>
                                <td>July</td>
                                <td>01-11-2018</td>
                                <td>Info@hsleiden.nl</td>
                                <td><button>Ban</button></td>
                            </tr>
                            <tr>
                                <td>Joppe</td>
                                <td>01-11-2018</td>
                                <td>Info@hsleiden.nl</td>
                                <td><button>Ban</button></td>
                            </tr>
                            <tr>
                                <td>Boris</td>
                                <td>01-11-2018</td>
                                <td>Info@hsleiden.nl</td>
                                <td><button>Ban</button></td>
                            </tr>
                            <tr>
                                <td>Mike</td>
                                <td>01-11-2018</td>
                                <td>Info@hsleiden.nl</td>
                                <td><button>Ban</button></td>
                            </tr>
                            <tr>
                                <td>Sangam</td>
                                <td>01-11-2018</td>
                                <td>Info@hsleiden.nl</td>
                                <td><button>Ban</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
