<div [@routerTransition]>
    <div class="row">
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div style="text-align: center" class="card-header">
                    Toernooien
                </div>
                <div class="card-body">
                    <div class="container">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Team naam</th>
                                <th>Win kans</th>
                                <th>Kieze</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>A</td>
                                <td>20%</td>
                                <td><button>Kies</button></td>
                            </tr>
                            <tr>
                                <td>B</td>
                                <td>40%</td>
                                <td><button>kies</button></td>
                            </tr>

                            <tr>
                                <td>C</td>
                                <td>60%</td>
                                <td><button>Kies</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
